@tailwind base;
@tailwind components;
@tailwind utilities;

//fonts

@font-face {
  font-family: 'segoepr';
  src: url('./assets/fonts/segoepr.woff') format('woff'),
    url('./assets/fonts/segoepr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'segoepr', sans-serif;
}